# .github/workflow/release-please.yml

name: release-please

on:
  push:
    branches:
      - staging
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * 1"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          command: manifest
          token: ${{ secrets.GITHUB_TOKEN }}
